.feed {
    flex: 0.6;
    margin: 0 20px;
}
.feed__inputContainer {
    background-color: white;  
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.feed__input {
    border: 1px solid darkred;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: grey;
    padding-left: 15px;

}
.feed__input > form {
    display: flex;
    width: 100%;
}
.feed__input > form > img {
    object-fit: contain;
    height: 40px;
    width: 40px;
    /* cursor: pointer; */
}

.feed__input >form >input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline: none;
    font-weight: 600;
}

.feed__input >form >button {
  display: none;
  
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
}
.feed__popup {
    position: fixed;
    height: 500px !important;
    width: 600px !important;
    border-radius: 16px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;  
    background: linear-gradient(180deg, rgba(19,38,79,1) 0%, rgba(22,147,198,1) 52%, rgba(255,255,255,0.6) 82%);
    /* overflow: hidden;  */
    z-index: 100;
}
.feed__popupImage {
    object-fit: contain;
    height: 350px;
    width: 550px;
    padding: 20px;
    margin-bottom: 10px;
}
.feed__popupButton {
    z-index: 1000;
}